* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-repeat: no-repeat;
    background-color: #888;
    background-image: url('../style/images/donation12.png');
    background-position: ;
    height: 600px;

}
.c1-head{
    text-align: center;
    /* margin-top: 100px; */
    padding: 150px 45px 0px;
    color: white;
}

.c2-para{
   
    text-align: center;
    margin-top: 30px;
    color: white;
}

.c3-button{
    font-size: 25px;
    font-weight: 750px;
    border: none;
    height: 60px;
    padding: 18px 45px;
    background-color: red;
    margin: 50px 600px;
}
/* .section{
        .background-image: url(../style/images/donation12.png); 
} */


/* donate page */
.title{
    text-align: center;
    padding: 100px 15px 30px;
    font-size: xx-large;
}
.sub-title{
    text-align: center;
}
/* .uline{
    text-align: center;
    display: flex;
    padding-right: 500px;

} */
nav ul {
    display: flex;
    /* align-items: center; */
    /* text-align: center; */
    margin-left: 250px;
    margin-top: 25px;
   
}

.button{
    list-style: none;
    margin: 20px 0px 20px 400px;
    /* background-color: aqua; */
    padding-top: 20px;
    /* padding-left: 150px; */
    padding-bottom: 20px;
    padding-right: 50px;
    height: 50px;
}
.button-1{
    height: 50px;
    margin-left: 50px;
    padding: 20px 30px 30px 20px;
}

.foot{
    text-align: center;
    padding-top: 20px;
}
.hori{
    margin: 5px 600px 15px 600px;
     /* margin-left: 600px;
    margin-right: 600px; */
} 
.btn{
    font-size: 15px;
    font-weight: 750px;
    border: none;
    height: 60px;
    padding: 15px 45px;
    background-color: red;
    margin: 10px 600px;
}
.donated{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 25px;
 }
 .accurate{
    text-align: center;
    font-weight: 500;
    font-size: 15px;
 }
 .planner{
    display: flex;
    gap: 20;
    margin-left: 150px;
    margin-right: 150px;
 }
 

 .title-1{
    text-align: center;
    padding-top: 10px;
 }
 .sub-title-1{
    text-align: left;
    padding: 10px;
 }
 .main-title{
    background: pink;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 20px;
    margin: 25px 10px;

 }

 /* section 3 */
 .banner{
    margin: 20px;
   display: flex;
   background: #fff8f3;
   background-repeat: no-repeat;
   /* background-position: right; */
   height: 500px;
   width: 100%;
   /* margin-right: 30px; */
 }

 .title-2{
    margin-top: 75px;
    margin-left: 5px;
    margin-bottom: 20px;
 }

 .sub-title-2{
    margin-top: 75px;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-right: 100px;
   

 }
  .btn-1{
    margin-left: 45px;
    background-color: rosybrown;
    font-size: 25px;
    height: 70px;
    border-radius: 5px;
    border: 0;
    padding: 15px 30px;

  }
  .styles{
        position: left;
        margin-top: 20px;
        margin-right: 60px;
        height: 500px;
  }

  /* section 3 */
  .banner-2{
       display: flex;
       background-color: #fff8f3;
       margin: 25px;
  }
  .styles-2{
    margin-right: 20px;
  }

  .title-3{
    text-align: center;
    margin-bottom: 15px;

  }
  .sub-title-3{
    padding: 18px 30px;
  }

  .btn-3{
    text-align: center;
    height: 90px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    background-color: tomato;
    padding: 20px 50px;
    margin-left: 70px;

  }

  /* section 4 */
  .sec{
    background-color: aqua;
  }
  .second-last{
    margin: 30px 100px 30px 100px;
    align-items: center;
    text-align: center;
   
  }

.titles{
    margin-bottom: 15px;
}

.sub-titles{
 
}

.email{
    display: flex;
    margin: 10px 300px 50px 300px; 
    background-color: gray;
    /* height: 150px; */
    height: 150px;

 
}
input{
   margin-left: 30px;
    height: 30px;

}
.sub{
    border: none;
    margin-top: 40px;
    border-radius: 5px;
    font-size: 40px;
    font-weight: 700;
    background-color: tomato;
    padding-left: 5px;
    margin-left: 5px;

}

/* section 5 */

.foote{
    text-align: center;
    background-color: black;
    height: 100px;
}
.humba{
    color: red;
}
.gon{
    color: white;
    margin-top: 10px ;
    margin-bottom: ;
    font-size: 10px;
}